.container {
    display: flex; 
    align-items: center;
    justify-content: center;
    
    background-color: var(--blue-dark);
    color: var(--gray_100);

    border: 0;
    border-radius: 8px;
    gap: 0.5rem;
    box-shadow: none;

    height: 3.25rem;
    padding: 1rem;

    font-weight: bold;
    font-size: 0.875rem;

    line-height: 140%;

    transition: 0.2s;
}

.container:hover{
    background-color: var(--blue);
}