.container {
    border: 1px solid var(--gray_700);
    border-radius: 8px;

    background-color: var(--gray_500);
    color: var(--gray_100);

    height: 3.375rem;
    padding: 1rem;
    width: 100%;
    line-height: 140%;
}

.container::placeholder {
    color: var(--gray_300);
}

.container:focus {
    border-color: var(--purple-dark);
}